packages:
  yum:
    alsa-lib: []
    at-spi2-atk: []
    at-spi2-core: []
    atk: []
    cairo: []
    cups-libs: []
    dbus-libs: []
    expat: []
    fontconfig: []
    freetype: []
    gdk-pixbuf2: []
    glib2: []
    gtk3: []
    libX11: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXfixes: []
    libXi: []
    libXrandr: []
    libXrender: []
    libXss: []
    libXtst: []
    libdrm: []
    libgbm: []
    libxkbcommon: []
    libxshmfence: []
    mesa-libgbm: []
    pango: []
