packages:
  yum:
    alsa-lib: []
    atk: []
    at-spi2-atk: []
    cups-libs: []
    gtk3: []
    libXcomposite: []
    libXcursor: []
    libXdamage: []
    libXext: []
    libXi: []
    libXtst: []
    libXrandr: []
    libXScrnSaver: []
    mesa-libgbm: []
    mesa-libgbm-devel: []
    nss: []
    pango: []

commands:
  01_install_chrome_deps:
    command: |
      yum install -y mesa-libgbm nss atk at-spi2-atk gtk3 libXcomposite \
        libXcursor libXdamage libXext libXi libXtst cups-libs libXScrnSaver \
        libXrandr alsa-lib pango
